@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes heightUp {
  from {
    height: 0%;
  }

  to {
    height: 100%;
  }
}

@keyframes scaleUp {
  0% {
    color: transparent;
    transform: scale(0);
  }

  99% {
    color: transparent;
  }

  100% {
    transform: scale(1);
    color: $c-light;
  }
}

@keyframes scaleRight {
  0% {
    transform: scaleX(0);
    color: transparent;
  }

  50% {
    color: transparent;
    transform: scaleX(1);
  }

  100% {
    color: $c-dark;
    transform: scaleX(1);
  }
}

@keyframes animateControlPrev {
  0% {
    opacity: 0;
    transform: translate3d(-8rem, 0, 0) rotate(-180deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes animateControlNext {
  0% {
    opacity: 0;
    transform: translate3d(8rem, 0, 0) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}
